---
layout: default

---


<div>
  {% for category in site.categories %}
    {%- capture category_name %}{{ category|first|strip }}{% endcapture %}
    <h1><a href="{{site.baseurl}}/{{category_name|downcase}}">{{category_name}}</a></h1>
    {% for post in site.categories[category_name] %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}
  {% endfor %}
</div>
